* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 255, 0.534);
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
    background-color: white;
}