* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 255, 0.534);
}

body {
    max-width: 600px;
    margin: auto;
    background-color: white;
}

p, h1, h2, h3, h4{
    padding-left: 10px;
    padding-right: 10px;
}

ul, ol {
    padding-left: 27px;
    padding-right: 10px;
}
